<div fxLayoutAlign="space-evenly" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.xs="column">
  <mat-card fxFlex>
    <mat-card-header>Guest</mat-card-header>

    <mat-card-content>
      Tablet app interface concept, for the guest to use.
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/guest">
        Check in/out
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-header>Staff</mat-card-header>

    <mat-card-content>
      Web app interface concept, for staff to use.
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/staff">
        Manage
      </button>
    </mat-card-actions>
  </mat-card>
</div>
